<div class="page-header">
  <h1>Actors</h1>
</div>

<ul>
  <% @actors.each do |actor| %>
  <li><%= link_to "#{actor.name}", actor %></li>
  <% end %>
</ul>

<%= link_to "Add actor", new_actor_path, :class=>"btn btn-warning btn-sm" %>