<div class="page-header">
  <h1>Add a new movie</h1>
</div>

<%= form_for @movie do |f| %>
  <%= f.text_field :title, :placeholder => "Title" %>
  <%= f.text_field :year, :placeholder => "Year" %>
  <%= f.submit "Add" %>
<% end %>
